body {
  color: #544837;
  line-height: 26px;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}

div ul {
  list-style: none;
  padding: 0;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
}
 
.header-menu {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

div a {
  text-decoration: none;
}

nav li {
  margin-right: 20px;
}
  
nav li:last-child {
  margin-right: 0;
}
  
nav {
  margin-left: 196px;
  margin-right: 196px;
}

.heading-h1,
.heading-h2,
.heading-h3 {
  color: #2F281E;
}

.heading-h1{
  font-size: 44px;
  line-height: 54px
}

.heading-h2 {
  font-size: 36px;
  line-height: 43.88px;
  margin: 0;
  padding-bottom: 20px;
}

.heading-h3 {
  font-size: 22px;
  font-weight: 600;
  padding: 30px 0px 16px 0px;
  margin: 0;
}

.heading-h4 {
  Size: 16px;
  margin: 0;
  padding: 30px 0 10px 0
}

.text-center {
  text-align: center;
}

.button {
  padding: 12px 22px;
  font-weight: 600;
  line-height: 20px; 
  background: #FF9900;
  color: #FFFFFF;
  border-radius: 4px;
  border: none;
}

.button-outline {
  background: #FFFFFF;
  color: #2F281E;
  border: 1px solid #BCD0E5;
  margin-right: 32px;
}

.button-l {
  padding: 12px 44px;
  margin-top: 20px;
}

.text-part {
  width: 500px;
  height: 301px;
}

.blocks {
  padding: 50px 40px 70px;
  Gap: 110px;
  margin-bottom: 0;
}

div p {
  margin: 0;
}

.background {
  background-image: url("../Images/bg.png");
  background-size: cover;
}

.footer {
  justify-content: space-between;
  align-items: flex-start;
  padding: 70px 0px 0px;
  border-top: 1px solid #BCD0E5;
}

.contact {
  width: 340px;
}

.sector2 {
  width: 525px;
}

.space {
  margin-top: 70px;
}
.sector3 {
  width: 505px;
}

.sector4 {
  width: 486px;
}

.c1 {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  gap: 30px;
}


